.counter2 {
  border: 1px solid darkblue;
  padding: 30px;
  width: 300px;
  margin: 30px auto;
  position: relative;
}

.counter2 .value {
  margin-left: 10px;
}

.counter2 .show-clock {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.counter2 .show-clock:hover {
  color: lightcoral;
  cursor: pointer;
}